body{
    background: url(backgroundpic.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.home{
    margin-top: 50vh;
    height: 60vh;
    justify-content: center;
    margin: auto
}

.header{
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 5px;
    margin-top: 40vh;
    font-size: 5vw;
}

.typed-out{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    overflow: hidden;
    border-right: black .15em solid;
    white-space: nowrap;
    font-size: 2.5vw;
    width: 0;
    animation:
        typing 1s steps(30, end) forwards,
        blink .8s infinite;
    animation-delay: 1.2s;
    margin-top: 10px;
}

.typed-out-container {
    display: inline-block;
    margin-top: 10px;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink {
    from {
        border-color: transparent
    }

    to {
        border-color: black
    }
}


.glass-card {
    width: 80vw;
    padding: 35px;
    background-color: rgba(255, 255, 255, .20);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    backdrop-filter: blur(15px);
    margin: auto;
    margin-bottom: 50px;
}

 h1{
    color:purple;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 
}
p{
    color:royalblue;
    text-align: center
}
/*
table{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
} */

a{
    text-decoration: none !important;
}

/* .text-slider-items { 

    display: none;

}  */

#aboutme{
    margin-top: 10px;
}

#photo{
    width: 400px;
    height: 300px;
    
}